@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 0;
}

.toolbar {
  text-align: right;
  margin-right: 38px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 52px;
  font-style: normal;
}

.personal-presentation h1 {
  padding-top: 20px;
  margin-bottom: 5px;
}

.personal-presentation p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  line-height: 28px;
  font-style: normal;
  margin: 0 27px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  padding-left: 0%;
  margin-top: 8px;
}

.social-media-links li a img {
  width: 19px;
  height: 20px;
}

.color-blue {
  color: #172b4d;
}

#title-green {
  color: #36b37e;
}

.arrow {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.works {
  display: grid;
  justify-content: center;
  gap: 24px;
}

.works-title {
  width: 327px;
  height: 125px;
  background-image: url("./images/Indicator.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 50px;
}

.works-title h2 {
  margin-top: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  text-align: center;
}

.work {
  display: flex;
  align-items: flex-end;
  width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px;
}

.white-area {
  border-radius: 10px;
  background-color: #fff;
  width: 327px;
  height: 222px;
  text-align: center;
}

.project-lang-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

.white-area h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px;
}

.project-lang-list li {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.white-area button {
  background-color: #36b37e;
  width: 122px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #36b37e;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
}

.about-me {
  background-image: url("./images/illustration\ 1-\ about\ me-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
}

.about-me-title {
  text-align: center;
  background-image: url("./images/illustration\ 2-about\ me\ mobile.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 20px;
}

.about-me-title h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  font-style: normal;
  text-align: center;
}

.about-me-title p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.about-me-title button {
  background-color: #36b37e;
  width: 153px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #36b37e;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}

.about-me-list {
  width: 327px;
  height: 998px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;

  /* gap: 12px; */
}

.list1 {
  background-image: url("./images/icon-languages.svg");
  background-position: top 20px center;
  background-repeat: no-repeat;
  border: 1px solid #c1c7d0;
  height: 316px;
  width: 327px;
  margin: 25px auto 0;
  border-radius: 8px;
  background-color: #ebf0ee;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.list2 {
  background-image: url("./images/icon-frameworks.svg");
  background-position: top 20px center;
  background-repeat: no-repeat;
  border: 1px solid #c1c7d0;
  height: 316px;
  width: 327px;
  margin: 25px auto 0;
  border-radius: 8px;
  background-color: #ebf0ee;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.list3 {
  background-image: url("./images/icon-skills.svg");
  background-position: top 20px center;
  background-repeat: no-repeat;
  border: 1px solid #c1c7d0;
  height: 316px;
  width: 327px;
  margin: 25px auto 0;
  border-radius: 8px;
  background-color: #ebf0ee;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.lang-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  padding: 12px;
  margin-top: 12px;
  gap: 8px;
}

.lang-list li {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
}

.languages {
  margin-bottom: 52px;
}

.get-in-touch {
  display: flex;
  flex-direction: column;

}

.get-in-touch p {
  font-family: 'Inter',sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;  
  text-align: center;
}

.form-info li{
  list-style: none;
  margin-top: 24px;
  position: relative;
  right: 24px;
}

.form-info li input {
  width: 327px;
  height: 48px;
}